<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="updateUser" method="post">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <input type="hidden" name="sex" th:value="${user.sex}"/>
    <input type="hidden" name="telphone" th:value="${user.telphone}"/>
    <input type="hidden" name="passwordencrypt" th:value="${user.passwordencrypt}"/>
    姓名：<input name="name" th:value="${user.name}"/><br/>
    用户名：<input name="account" th:value="${user.account}"/><br/>
    手机号码：<span th:text="${user.telphone}" /><br/>
    qq：<input name="qq" th:value="${user.qq}"/><br/>
    微信：<input name="weixin" th:value="${user.weixin}"/><br/>
    email:<input name="email" th:value="${user.email}"/><br/>
    地址:<input name="address" th:value="${user.address}"/><br/>
    年龄:<input name="age" th:value="${user.age}"/><br/>
    性别:<span th:text="${user.sex}"/><br/>
    生日时间：<input name="birthday" th:value="${user.birthday}"/><br/>
    <input type="submit" value="提交"/><br/>
</form>
</body>
</html>