<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>

<div th:fragment="producttype" >
    <a href="touserregister">注册</a>||<a href="tologin">登录</a>欢迎<span th:if="${session.user != null}" th:text="${session.user.name}"></span><br/>
    <form action="searchproductout" method="post">
        <input type="text" name="keyword"/>
        <input type="submit" th:value="搜索"/>
    </form>
    <table border="1">
        <tr>
            <td>商品分类</td>
        </tr>
        <tr th:each="producttype:${productypelist}">
            <td ><a href="#" th:href="@{/indexproduct(productytpeid=${producttype.id})}"><span th:text="${producttype.producttypename}"></span></a></td>
        </tr>
    </table>
</div>
</body>
</html>